# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

/src/generated/prisma

# uploaded files
/public/uploads/

# local database
dev.db

# deploy scripts & logs
deploy.py
ssh-output-deploy.txt
docker-compose.prod.yml
.env.prod

# gh CLI (temp)
gh.zip
gh_cli/

# misc temp files
page.html
script.js
init_db.py
insert_blog.js
